.size {
  width: 1200px;
  height: 500px;
  margin: 40px auto;
  .mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin-left: 50px;
      font-size: 24px;
      font-weight: bold;
      color: #333333cd;
    }
    .antd {
      width: 70%;
      text-align: center;
      align-items: center;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      gap: 20px;
    }

    .block {
      display: flex;
      justify-content: space-between;
    }

    .ant-statistic {
      text-align: center;
    }

    .ant-statistic-title {
      font-size: 16px;
      color: #333;
    }

    .ant-statistic-content-value {
      font-size: 24px;
      font-weight: bold;
      color: #1890ff;
    }
  }
}
