.container {
  margin-left: 56px;
}

.block {
  margin-left: 50px;
  margin-top: 30px;

  div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 5px 0 20px 0;
  }

  h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}
.check {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.check.rotate {
  transform: rotate(180deg); /* Rotate 360 degrees */
  filter: hue-rotate(1000deg);
}



.Importanttitle {
  margin-left: 80px;
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  color: #aab2c8;
}

.line {
  width: 40%;
  border: 1px solid #000000;
}

.line1 {
  width: 38.5%;
  margin-left: 50px;
  margin-top: 30px;
  border: 1px solid #000000;
}

.blockDop {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
  cursor: pointer;

  .exits {
    width: 70px;
    margin-right: 20px;
    cursor: pointer;
  }

  .titlel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
}

.btn {
  width: 90px;
  height: 30px;
  background-color: #5f66e9;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.checkprofill {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: #aab2c8;
}

.container {
  display: flex;
  position: relative;
  height: 1000px;
}

.mainContent {
  flex: 1;
}

.blockcontainer {
  padding: 20px;
}

.container {
  display: flex;
  position: relative;
}

.mainContent {
  flex: 1;
}

.blockcontainer {
  padding: 20px;
}

.emailPanel {
  position: absolute;
  right: 0;
  width: 400px;
  height: 100%;
  padding: 20px;
  background: #000;
  border-left: 1px solid #ddd;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.emailPanel .emailblock {
  margin-top: 50px;
}

.check {
  cursor: pointer;
  margin-left: 10px;
}

.notificationPanel {
  position: absolute;
  top: 0%;
  right: 0;
  width: 400px;
  height: 100vh;
  padding: 20px;
  background: #000;
  border-left: 1px solid #ddd;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
}