.container {
  display: flex;
  display: flex;
  height: 100vh; 
  overflow: hidden; 
}

.content {
  flex-grow: 1;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  overflow-y: auto;
}
