.mainBlock{
    margin-left: 56px;
}

.displayphoto{
    display: flex;
    gap: 120px;
    align-items: center;
    margin-left: 10%;
    margin-top: 15px;
}

.chick{
    display: flex;
    margin-top: 60px;
}

.onlybtn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

.chico{
    display: flex;
    align-items: center;

}