.mailBlock {
  margin-left: 56px;
}

.header {
  background-color: #f7f8fa;
  color: white;
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  box-sizing: border-box;
}

.welcome {
  margin: 0;
}

.txt {
  font-size: 24px;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
}

.greenTxt {
  color: #1dbf04;
}

.economimg {
  margin-top: 10%;
  width: 75%;
  height: 30%;
}

.economblock {
  display: flex;
  align-items: center;
}

.text {
  position: absolute;
  margin-top: 170px;
  width: 350px;
  margin-left: 56.4%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h2 {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.saw {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #b4b4b4;
}

.pipi {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-top: 20px;
}

.table {
  width: 350px;
  font-size: 20px;
  margin-top: 150px;
  border: 1px solid #b4b4b4;
  border-collapse: collapse;
  background-color: #f7f8fa;

  tr {
    th {
      width: 10px;
      height: 40px;
      border: 1px solid #b4b4b4;
    }
  }
}

.backback {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 80px;
  cursor: pointer;
}
