.sidebar {
  height: 100vh;
  width: 56px;
  transition: width 0.3s ease;
  background-color: black;
  z-index: 1000;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: fixed;

  &:hover {
    width: 250px;

    .btn {
      transition: 0.3s;
      gap: 10px;
    }

    ~ .contentOverlay {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .profil {
    padding: 1px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .flex {
      display: flex;
      height: 54px;
      align-items: center;

      img {
        width: 54px;
        height: 54px;
        border-radius: 5px;
      }

      .profilInfo {
        margin-left: 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        white-space: normal;
        width: 150px;

        .name {
          font-weight: 600;
          font-size: 14px;
          width: 100%;
        }
      }

      .status {
        font-size: 12px;
      }

      .senior-operator {
        color: #7aff64;
      }

      .junior-operator {
        color: #fcea2b;
      }

      .partner {
        color: #35b7fa;
      }

      .admin {
        color: #ff2929;
      }

      p {
        cursor: pointer;
        color: white;
      }
    }
  }

  .mainMenu {
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;

    @at-root .sidebar:hover & {
      opacity: 1;
    }
  }

  .iconsBlock {
    .menuItem {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      color: white;
      transition: background-color 0.3s;

      &:hover {
        background-color: #3d3d3d;
      }

      .icons {
        display: flex;
        align-items: center;

        .icon {
          width: 24px;
          height: 24px;
        }

        .label {
          margin-left: 20px;
          opacity: 0;
          transition: opacity 0.3s ease;

          @at-root .sidebar:hover & {
            opacity: 1;
          }
        }
      }
    }
  }

  &:hover {
    .profil .profilInfo {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .btn {
    all: unset;
    margin: 250px 10px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;

    img {
      transform: scale(1.1);
    }

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 16.94px;
      color: white;
    }
  }
}

.contentOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 500;
  backdrop-filter: blur(5px);
}
