.sidebar {
  width: 300px;
  height: 100vh;
  background-color: black;
  padding-left: 20px;
  padding-top: 20px;
  overflow-y: auto;
  .profil {
    .flex {
      display: flex;
      gap: 10px;
      .circle {
        width: 48px;
        height: 48px;
        border: 2px solid #dfe0eb;
        border-radius: 50%;
        img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          margin: 1px;
        }
      }
    }
    .profilInfo {
      display: flex;
      justify-content: start;
      gap: 35px;
      margin: 0;
      padding: 0;
      div {
        width: 127px;
        p {
          margin: 0;
          padding: 0;
          color: white;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
        }
        .phone {
          opacity: 60%;
          font-size: 11px;
          font-weight: 400;
          line-height: 27px;
          color: #ffffff;
        }
        .status {
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;

          &.senior-operator {
            color: #7aff64;
          }
          &.junior-operator {
            color: #fcea2b;
          }
          &.partner {
            color: #35b7fa;
          }
          &.admin {
            color: #ff2929;
          }
        }
      }
      .bell {
        margin-left: 70px;
      }
    }
  }
  .mainManu {
    margin-top: 20px;
    color: #ffffff9e;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
  }

  .flexing {
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .exist {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 16.94px;
  }
}
