.Authorization {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  .block {
    width: 528px;
    height: 660px;
    box-shadow: 0 0 1em rgb(201, 196, 196);
    margin-top: 50px;
    border-radius: 20px;
    background-color: #eeeeee;

    h1 {
      margin-top: 46px;
      font-size: 24px;
      font-weight: 600;
      line-height: 29.26px;
      text-align: center;
    }
    form {
      width: 300px;
      margin: 180px auto;
      input {
        margin-top: 30px;
        background-color: #d9d9d9;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        display: block;
      }
    }
  }
}
