.menuItem {
  margin: 10px 0;
}

.menuItem a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
}

.menuItem a:hover {
  background-color: white;
  color: #5459ea;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.active {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: white;
}

.activeLink {
  color: #5459ea !important;
}

.hoverCircle:hover {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background-color: white;
  margin-left: 85%;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 30px;
  /* Установите нужное значение отступа */
  transition: 0.5s;
}

.label {
  margin-left: -20px;
  /* Установите нужное значение отрицательного отступа */
  transition: 0.5s;
}

.menuItem a:hover .icon,
.menuItem a:hover .label {
  color: #5459ea;
}

.menuItem .activeLink .icon,
.menuItem .activeLink .label {
  color: #5459ea;
}

.menuItem a:hover .icon {
  filter: invert(32%) sepia(82%) saturate(6228%) hue-rotate(207deg) brightness(91%) contrast(97%);
}

.menuItem .activeLink .icon {
  filter: invert(32%) sepia(82%) saturate(6228%) hue-rotate(207deg) brightness(91%) contrast(97%);
}