.chatContainer {
  display: flex;
  height: 100vh;
  margin-left: 56px;
}

.userList {
  width: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchPeople {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .backButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .searchInput {
    flex-grow: 1;
    margin-right: 10px;
  }
}

.ListPeoples {
  display: flex;
  font-size: 14px;
  gap: 20px;
  text-align: center;

  h3 {
    margin: 10px 0;
    cursor: pointer;
  }
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}

.activeUser {
  background-color: #d0d0d0;
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.userDetails {
  display: flex;
  flex-direction: column;

  .lastMessageTime {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
  }
}

.chatBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-color: #000000;
  border-bottom: 1px solid #ccc;

  .headerImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
}

.chatMessages {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

.messageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .messageAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
  }

  .messageContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .messageText {
      margin-right: 10px;
    }

    .messageTime {
      font-size: 12px;
      color: gray;
    }
  }
}

.userMessageWrapper {
  justify-content: flex-end;
}

.userMessage {
  background-color: #d0f0d0;
}

.driverMessage {
  background-color: #f0f0f0;
}

.chatInputContainer {
  display: flex;
  align-items: flex-end; // Align items to the bottom
  padding: 36px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  position: relative;

  .chatInput {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 10px;
  }

  .sendButton,
  .DockButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.autoCompleteContainer {
  position: absolute;
  display: flex;
  bottom: 33px;
  left: 0;
  width: 100%;
  gap: 10px;
}

.T9Suggestion {
  padding: 5px 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  display: block; /* Чтобы каждый элемент был на новой строке */
  margin-bottom: 38px;
  margin-left: 4%;
}

.T9Suggestion:hover {
  background-color: #ccc;
}

.noChatSelected {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  color: #999;
}

.contextMenu {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.contextMenuItem {
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}
