.chatContainer {
  display: flex;
  height: 100vh;
  margin-left: 56px;
}

.userList {
  width: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchPeople {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .backButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 30px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .searchInput {
    width: 250px;
    border-radius: 10px;
  }
}

.ListPeoples {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  h3 {
    font-size: 14px;
  }
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.user:hover {
  background-color: #ddd;
}

.activeUser {
  background-color: #ccc;
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}



.lastMessageTime {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
}

.chatBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-color: #010101;
  border-bottom: 1px solid #ccc;

  .headerImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.chatMessages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.messageWrapper {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start; // Сообщения водителей будут слева
}

.userMessageWrapper {
  justify-content: flex-end; // Сообщения пользователя справа
}

.driverMessageWrapper {
  justify-content: flex-start; // Сообщения водителя могут оставаться слева, если нужно
}

.messageAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.userMessageWrapper .messageAvatar {
  order: 2; // Перемещаем аватарку на правую сторону
  margin-left: 10px;
  margin-right: 0;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  position: relative;
}

.userMessage {
  background-color: #e0e0e0;
}

.driverMessage {
  background-color: #d0d0d0;
}

.messageContent {
  display: flex;
  flex-direction: column;
}

.messageText {
  margin-bottom: 4px;
}

.messageTime {
  font-size: 10px;
  color: gray;
  align-self: flex-end;
}

.chatInputContainer {
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ccc;

  .chatInput {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 10px;
  }

  .sendButton,
  .DockButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.noChatSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: gray;
}

.contextMenu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .contextMenuItem {
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.userDetails {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.lastMessageText {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.messageMeta {
  display: flex;
  align-items: center;
}

.user {
  position: relative;

  .userImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .checkedIcon {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 15px;
    height: 15px;
  }
}

.lastMessageTime {
  margin-left: 36%;
  color: #888;
}

.chatInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.contextMenu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.contextMenuItem {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.chatMessages {

  .messageWrapper {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    position: relative;
  }

  .userMessageWrapper {
    justify-content: flex-end;
  }

  .driverMessageWrapper {
    justify-content: flex-start;
  }

  .message {
    max-width: 50%;
    padding: 15px 15px;
    border-radius: 15px;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }



  .driverMessage {
    background-color: #e5e5ea;
    color: black;
  }

  .messageMeta {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 10px;
    gap: 5px;
  }

  .messageTime {
    font-size: 12px;
    color: #888;
  }

  .checkedIcon {
    width: 14px;
    height: 14px;
  }
}